/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

a{
  color: white;
  padding: 2%;
  font-weight: 100;
  text-decoration: none;
}

a:hover{
  color: #7fabff;
  text-decoration: none;
}

h3 {
  line-height: 1.5;
  font-weight: 200;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #324f86;
  text-align: center;
  display: block;
  padding: 20px 0 20px 0;
  border-top: 1px solid #eeeeed;
}

.content {
  padding-left: 22%;
  padding-right: 30%;
  padding-top: 2%;
}

.photoPane {
  width: 40%;
  float: right;
  margin-top: 0%;
}

.textContainer{
  max-width: 50%;
  float: left;
  text-align: center;
  margin-top: 14%;
}

.logo {
  max-width: 100%;
  width:auto;
  height: auto;
  margin-bottom: 6%;
}
.phone{
  max-width: 120%;
}

.button{
  max-width: 60%;
  margin-top: 6%
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 1000px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
