a {
	color: white;
	padding: 2%
}

.textPane {
	float: left;
	width: 50%;
	height: 100px;
}

.photoPane {
	float: right;
	width: auto;
	max-height: 50%;
}

img.phone {
	max-height: 560%;
}

img.badge {
	size: 1000%;
}